::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: white;
}
::-webkit-scrollbar{
    width: 1%;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    border-radius: 1px;
    background-color: #FCDA69;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    scroll-behavior: smooth;
}
/*Navigation*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 4vh 3%;
    padding-right: 8%;
}
.nav1{
    display: flex;
}
.nav1 img{
    height: 10vh;
    padding-right: 20%;
}
.nav1 .title{
    font-size: 1.3em;
    line-height: 0.6;
    font-weight: bolder;
    margin-top: 1vh;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 60%;
    list-style: none;
    margin-top: 1vh;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.4em;
    color: black;
    font-weight: bolder;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #FCDA69;
    transition: 0.3s;
}
/*Header*/
header{
    display: flex;
    padding: 0 3.5%;
    color: black;
    padding-bottom: 10vh;
    justify-content: space-around;
}
header .left{
    width: 33.33%;
}
header .left-teks1{
    position: relative;
    top: 10vh;
    left: 70%;
    color: #FCDA69;
    z-index: 1;
    transform: rotateZ(30deg);
    font-weight: bolder;
    font-size: 1.1em;
    animation: shake 0.5s linear infinite;
    width: 20%;
}
@keyframes shake {
    0%  {transform: rotateZ(30deg);}
    50% {transform: rotateZ(35deg);}
    100% {transform: rotateZ(30deg);}
}
header .left-teks2{
    font-size: 4em;
    font-weight: 800;
}
header .left-1{
    display: flex;
    font-size: 0.9em;
}
header .left-1-1{
    margin-top: 2vh;
    margin-right: 4%;
}
header .left-2{
    display: flex;
    margin-top: 5vh;
}
header a{
    text-decoration: none;
    color: white;
}
a .left-2-1{
    border-style: unset;
    border-radius: 13px;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem 0.5rem;
    display: flex;
    font-weight: 700;
}
.left-2-1 img{
    height: 4vh;
    margin-top: -1vh;
    margin-left: 1rem;
}
a .left-2-2{
    border-style: unset;
    border-radius: 13px;
    background-color: #FCDA69;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem 0.5rem;
    display: flex;
    font-weight: 700;
    color: black;
    margin-left: 1rem;
}
.left-2-2 img{
    height: 4vh;
    margin-top: -1vh;
    margin-left: 1rem;
}

header .middle{
    width: 33.33%;
    height: 33.33%;
    z-index: -1;
}
header .right{
    margin-top: 15vh;
    margin-left: 1%;
    width: 33.33%;
}
header .right-teks1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3.5em;
    color: black;
    margin-left: 3%;
}
header .right-teks2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.8em;
    color: black;
    text-indent: -1.4rem;
    margin-left: 8%;
    width: 80%;
}
header .right-1{
    display: flex;
    position: relative;
    top: 20vh;
    right: 15%;
    justify-content: space-between;
    width: 70%;
}
header .right-1-1{
    font-weight: bolder;
    margin-top: 2vh;
    font-size: 0.7em;
}
.right-1 a img{
    height: 7vh;
    outline: 0 black solid;
    border-radius: 50%;
    transition: 0.2s;
}
.right-1 a img:hover{
    transform: scale(1.2);
    transition: 0.2;
}
header .right-2{
    text-decoration: none;
    color: black;
}
header .right-2-2{
    font-size: 1.15em;
    font-weight: bold;
    transform: rotateZ(-90deg);
    width: 40%;
    position: relative;
    left: 65%;
    top: 8vh;

}
header .right-2-3{
    animation: panah 2s linear infinite;
    height: 16vh;
    position: relative;
    left: 90%;   
}

/*Service I offer*/

#Service{
    background-color: #FCDA69;
    display: flex;
    color: black;
    padding: 5vh 5%;
    justify-content: space-between;
}
.Service-left{
    width: 50%;
}
.Service-left1{
    position: relative;
    transform: rotateZ(35deg);
    left: 65%;
    top: 12vh;
    font-size: 1.4em;
    font-weight: bolder;
    width: 20%;
}
.Service-left2{
    font-size: 6.7em;
    line-height: 0,1;
    font-weight: bolder;
    color: white;
}
.Service-left3{
    display: flex;
    width:82%;
    font-size: 1.1em;
}
.Service-left3 sup{
    padding-top: 2vh;
    padding-right: 3%;
}
.Service-left a{
    text-decoration: none;
    color:white;
}
a .Service-left-button1{
    display: flex;
    border-style: unset;
    border-radius: 13px;
    background-color: black;
    padding: 1rem 1rem 0.5rem;
}
.Service-left-button1{
    display: flex;
    text-decoration: none;
}
.Service-left-button1 p{
    font-weight: bold;
    font-size: 0.8em;
}
.Service-left-button1 img{
    height: 4vh;
    margin-left: 1rem;
}
.Service-right{
    width: 50%;
    margin-top: 5vh;
}
.Service-right1-1{
    display: flex;
    border-top:2px solid black ;
    padding: 1vh 0;  
}
.Service-right1-1-1{
    font-weight: bolder;
    font-size: 1.3em;
    width: 18%;
}
.Service-right1-1-2{
    width: 60%;
}
.Service-right1-1-2-1{
    font-size: 2.6em;
    font-weight: bolder;
}
.Service-right1-1-2-2 a{
    text-decoration: none;
    color: black;
}
.Service-right1-1 a{
    width: 20%;
    text-align: right;
    margin-top: 20vh;
}
.Service-right1-1 a button{
    border: unset;
    border-radius: 50%;
    background-color: white;
    padding:  0.2rem 1.1rem;
    font-size: 1.7em;
    transform: rotateZ(45deg);
    transition: 0.3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Service-right1-1 a button:hover{
    transition: 0.3s;
    color: white;
    background-color: black;
    transform: rotateZ(90deg);
}
/*Skill and Experience*/

.Skill{
    display: flex;
    padding: 5vh 5%;
    color: black;
    justify-content: space-between;
}
.Skill-left{
    width: 50%;
}
.Skilll{
    margin-left: -2%;
}
.Skill-left1{
    transform: rotateZ(-30deg);
    color: #FCDA69;
    font-weight: bolder;
    font-size: 1.4em;
    width: 25%;
    position: relative;
    top: 6vh;
}
.Skill-left2{
    position: relative;
    margin-left: 12%;
    font-size: 5em;
    font-weight: bolder;
    color: black;
}
.Skill-left3{
    display: flex;
    margin-top: 5vh;
}
.Skill-left3 sup{
    margin-top: 2vh;
}
.Skill-left3 p{
    margin-left: 4%;
    font-size: 1.1em;
    width: 84%;
}
.Skillll{
    margin-left: 5%;
}
.Skill-left4{
    font-size: 1.9em;
    font-weight: bolder;
}
.Skill-left5{
    font-size: 1.2em;
}
.Skill-left6{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.Skill-left6-list{
    margin-right: 20px;
}
.Skill-left6-list .img1{
    height: 17vh;
    margin-top: -1vh;
}
.Skill-left6-list .img2{
    height: 16vh;
    margin-top: 0.5vh;
}
.Skill-left6-list .img3{
    height: 15.5vh;
}
.Skill-left6-list p{
    font-size: 1.1em;
    font-weight: bolder;
    margin-left: 27%;
}
.Skill-left6-list .p3{
    margin-left: 2%;
}
.Skill-right{
    width: 50%;
    margin-left: 10%;
}
.Skill-right1{
    font-size: 3em;
    font-weight: bolder;
    color: black;
    margin-top: 9vh;
}
.Skill-right .Skill-right2{
    border-top: 1px black solid;
    padding-top: 2vh;
    display: flex;
    font-weight: bolder;
    font-size: 0.8em;
}
.Skill-right2 .pp{
    width: 25%;
}
.Skill-right2 div{
    width: 75%;
    margin-left: 5%;
}
.Skill-right2 div p:nth-child(1){
    margin-bottom: 1vh;
}
.Skill-right3-1{
    margin-top: 5vh;
}
.Skill-right3-1 a{
    text-decoration: none;
}
.Skill-right3-1  a button{
    border-radius: 50%;
    background-color: black;
    outline: 2px #FCDA69 solid;
    outline-offset: -1rem;
    transition: ease 0.5s;
    padding: 3rem 1.8rem 1.5rem;
    display: flex;
    color: white;
}
.Skill-right3-1 a button .lo{
    font-size: 1em;
    font-weight: bolder;
    padding-top: 2vh;
    padding-right: 1rem;
}
.Skill-right3-1 a button .lol{
    font-size:2.5em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight:lighter;
    transform: rotateZ(45deg);
}
.Skill-right3-1 button:hover{
    transition: ease 0.5s;
    outline-offset: -0.7rem;
}
.Skill-right3-1 button::after:hover{
    outline-offset: -20px;
}

/*Latest Project*/

.Project{
    background-color: #FCDA69;
    display: flex;
    color: black;
    padding: 5vh 7%;
}
.Project-left{
    width: 33%;
}
.Project-left1{
    font-size: 1.2em;
    transform: rotateZ(-30deg); 
    color: white;
    font-weight: bolder;
    position: relative;
    top: 5vh;
    right: 10%;
    width: 30%;
}
.Project-left2{
    font-size: 4em;
    font-weight: bolder;
}
.Project-left3 , .Project-middle1 , .Project-right1{
    display: flex;
    border-top: 1.5px solid black;
    width: 90%;
    padding-top: 3vh;
}
.Project-left3 p , .Project-middle1 p , .Project-right1 p{
    font-size: 1.8em;
    font-weight: bolder;
}
.Project-left4{
    height: 35vh;
    width: 100%;
    background-image: url(Image/Mask\ Group\ 6.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5%;
}
.Project-middle{
    margin-top: 22vh;
    width: 33.33%;
}
.Project-middle2{
    height: 35vh;
    width: 100%;
    background-image: url(Image/Mask\ Group\ 5.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5%;
}
.Project-right{
    width: 33.33%;
    margin-top: 7vh;
}
.Project-right2{
    height: 35vh;
    width: 100%;
    background-image: url(Image/Mask\ Group\ 6.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5%;
}
.Project-left3 a button , .Project-middle1 a button , .Project-right1 a button{
    text-decoration: none;
    border: unset;
    border-radius: 50%;
    background-color: white;
    padding:  0.2rem 1.1rem;
    font-size: 1.7em;
    transform: rotateZ(45deg);
    transition: 0.3s;
    margin-top: 5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}

.Project-right a{
    text-decoration: none;
}
a .Project-right3{
    display: flex;
    text-decoration: none;
    border-radius: 13px;
    background-color: black;
    border: unset;
    z-index: 1;
    padding: 1.7rem 1rem 1rem;
    margin-top: 20vh;
    margin-left: 50%;
}
.Project-right3 p{
    font-weight: bold;
    color: white;
    margin-right: 1rem;
    font-size: 0.9em;
}
.Project-right3 img{
    height: 4vh;
}

/*Testimonial*/
.Testi{
    color: black;
    margin-bottom: 30px;
}
.Testi-up{
    display: flex;
}
.Testi-up1-1{
    transform: rotateZ(-30deg);
    font-weight: bolder;
    font-size: 25px;
    color: #FCDA69;
}
.Testi-up1-2{
    font-size: 70px;
    font-weight: bolder;
    width: 400px;
    margin-top: 70px;
    margin-left: 100px;   
}
.Testi-up2{
    margin-top: 130px;
    display: flex;
}
.Testi-up2 div{
    border-bottom: 1px black solid;
    padding-right:30px;
    height: 13px;
    margin-right: 20px;
}
.Testi-up2 p{
    font-size: 20px;
    width: 470px;
}
.Testi-up3{
    position: relative;
    top: 280px;
    left: 50px;
}
.Testi-up3 button{
    border-radius: 50%;
    margin-right: 15px;
    height: 50px;
    width: 50px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    transform: rotateZ(-45deg);
}
.Testi-down{
    display: flex;
}
.Testi-down1{
    border-radius: 800px;
    height: 400px;
    margin-left: 50px;
}
.Testi-down2{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 750px;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 8px;
    padding-top: 50px;
    height: 370px;
}
.Testi-down2-1{
    width: 450px;
}
.Testi-down2-3{
    display: flex;
}
.Testi-down2-3 sup{
    margin-top: 10px;
    margin-right: 10px;
}

/*Greetings*/

.Greet{
    background-color: #FCDA69;
    display: flex;
    color: black;
}
.Greet-left1{
    font-size: 25px;
    font-weight: bolder;
    color: white;
    transform: rotateZ(-30deg);
    position: relative;
    top: -10px;
}
.Greet-left2{
    font-size: 70px;
    font-weight: bolder;
    width: 500px;
    margin-top: 90px;
    margin-left: 100px;
}
.Greet-left3{
    display: flex;
    margin-left: 100px;
    margin-bottom: 30px;
    font-size: 20px;
    border-top: 2px black solid;
    padding-top: 20px;
}
.Greet-left3-1{
    background-color: aliceblue;
    padding: 0 20px;
    padding-top: 20px;
    border-radius: 50%;
}
.Greet-left3-1 img{
    height: 50px;
}
.Greet-left3-11{
    background-color: aliceblue;
    padding: 0 13px;
    padding-top: 10px;
    border-radius: 50%;
    height: 90px;
}
.Greet-left3-11 img{
    height: 70px;
}
.Greet-left3-2{
    margin-left: 30px;
}
.Greet-left3-2-1{
    position: relative;
    top: 10px;
}
.Greet-left3-2-2{
    position: relative;
    width: 400px;
}
.Greet-right button{
    height: 490px;
    width: 490px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    outline: 2px #FCDA69 solid;
    outline-offset: -30px;
    margin-top: 100px;
    margin-left: 100px;
    transition: ease 0.5s;
}
.Greet-right button:hover{
    outline-offset: -15px;
    transition: ease 0.5s;
}
.Greet-right button p{
    margin: auto;
}
.Greet-right1{
    font-size: 60px;
    font-weight: bold;
    color: #FCDA69;
    position: relative;
    left: 20px;
}
.Greet-right2{
    transform: rotateZ(45deg);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
    background-color: aliceblue;
    position: relative;
    top: 15px;
    right: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: black;
}
