::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: white;
}
::-webkit-scrollbar{
    width: 1%;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    border-radius: 1px;
    background-color: #FCDA69;
}
@keyframes putar {
    0%  {transform: rotateZ(30deg);}
    50% {transform: rotateZ(35deg);}
    100% {transform: rotateZ(30deg);} 
}
@keyframes shake {
    0%  {transform: rotateZ(-30deg);}
    50% {transform: rotateZ(-35deg);}
    100% {transform: rotateZ(-30deg);}
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    scroll-behavior: smooth;
}
/*Navigation*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 4vh 3%;
    padding-right: 8%;
}
.nav1{
    display: flex;
}
.nav1 img{
    height: 10vh;
    padding-right: 20%;
}
.nav1 .title{
    font-size: 3vh;
    line-height: 0.6;
    font-weight: bolder;
    margin-top: 0.7vh;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 60%;
    list-style: none;
    margin-top: 1vh;
}
nav ul li a{
    text-decoration: none;
    font-size: 3.5vh;
    color: black;
    font-weight: bolder;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #FCDA69;
    transition: 0.3s;
}
/*Header*/
header{
    display: flex;
    padding: 0 3.5%;
    color: black;
    padding-bottom: 10vh;
    justify-content: space-around;
    width: 100%;
    margin: 0;
}
header .left{
    width: 33.33%;
}
header .left-teks1{
    position: relative;
    top: 10vh;
    left: 40vh;
    color: #FCDA69;
    z-index: 1;
    transform: rotateZ(30deg);
    font-weight: bolder;
    font-size: 3vh;
    animation: putar 0.5s linear infinite;
    width: 20%;
}
header .left-teks2{
    font-size: 10vh;
    font-weight: 800;
}
header .left-1{
    display: flex;
    font-size: 2vh;
}
header .left-1-1{
    margin-top: 2vh;
    margin-right: 4%;
}
header .left-2{
    display: flex;
    margin-top: 5vh;
}
header a{
    text-decoration: none;
    color: white;
}
a .left-2-1{
    border-style: unset;
    border-radius: 1rem;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem 0.5rem;
    display: flex;
    font-weight: 700;
    font-size: 2vh
}
.left-2-1 img{
    height: 4vh;
    margin-top: -1vh;
    margin-left: 1rem;
}
a .left-2-2{
    border-style: unset;
    border-radius: 1rem;
    background-color: #FCDA69;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem 0.5rem;
    display: flex;
    font-weight: 700;
    color: black;
    margin-left: 1rem;
    font-size: 2vh;
}
.left-2-2 img{
    height: 4vh;
    margin-top: -1vh;
    margin-left: 1rem;
}

header .middle{
    width: 33.33%;
    height: 33.33%;
    z-index: -1;
}
header .right{
    margin-top: 15vh;
    margin-left: 1%;
    width: 33.33%;
}
header .right-teks1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 8vh;
    color: black;
    margin-left: 3%;
}
header .right-teks2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 4vh;
    color: black;
    text-indent: -1.4rem;
    margin-left: 8%;
    width: 80%;
}
header .right-1{
    display: flex;
    position: relative;
    top: 20vh;
    right: 15%;
    justify-content: space-between;
    width: 70%;
}
header .right-1-1{
    font-weight: bolder;
    margin-top: 2vh;
    font-size: 2vh;
}
.right-1 a img{
    height: 7vh;
    outline: 0 black solid;
    border-radius: 50%;
    transition: 0.2s;
}
.right-1 a img:hover{
    transform: scale(1.2);
    transition: 0.2;
}
header .right-2{
    text-decoration: none;
    color: black;
}
header .right-2-2{
    font-size: 3vh;
    font-weight: bold;
    transform: rotateZ(-90deg);
    width: 40%;
    position: relative;
    left: 65%;
    top: 8vh;

}
header .right-2-3{
    animation: panah 1s linear infinite;
    height: 16vh;
    position: relative;
    left: 90%;   
}
@keyframes panah {
    0%{top: 0;}
    50% {top: 1vh;}
    100%{top: 0;}
    
}

/*Service I offer*/

#Service{
    background-color: #FCDA69;
    display: flex;
    color: black;
    padding: 0 5%;
    justify-content: space-between;
    width: 100%;
}
.Service-left{
    width: 50%;
}
.Service-left1{
    position: relative;
    transform: rotateZ(35deg);
    left: 60vh;
    top: 10vh;
    font-size: 3vh;
    font-weight: bolder;
    width: 20%;
    animation: putar 0.5s linear infinite;
}
.Service-left2{
    font-size: 16vh;
    line-height: 0,1;
    font-weight: bolder;
    color: white;
}
.Service-left3{
    display: flex;
    width:82%;
    font-size: 2.4vh;
}
.Service-left3 sup{
    padding-top: 2vh;
    padding-right: 3%;
}
.Service-left a{
    text-decoration: none;
    color:white;
}
a .Service-left-button1{
    display: flex;
    border-style: unset;
    border-radius: 1rem;
    background-color: black;
    padding: 1rem 1rem 0.5rem;
}
.Service-left-button1{
    display: flex;
    text-decoration: none;
}
.Service-left-button1 p{
    font-weight: bold;
    font-size: 2vh;
}
.Service-left-button1 img{
    height: 4vh;
    margin-left: 1rem;
}
.Service-right{
    width: 50%;
    margin-top: 5vh;
}
.Service-right1-1{
    display: flex;
    border-top:2px solid black ;
    padding: 1vh 0;  
}
.Service-right1-1-1{
    font-weight: bolder;
    font-size: 1.3em;
    width: 18%;
}
.Service-right1-1-2{
    width: 60%;
}
.Service-right1-1-2-1{
    font-size: 6.5vh;
    font-weight: bolder;
}
.Service-right1-1-2-2 a{
    text-decoration: none;
    color: black;
}
.Service-right1-1 a{
    width: 20%;
    text-align: right;
    margin-top: 20vh;
}
.Service-right1-1 a .b1{
    border: unset;
    border-radius: 50%;
    background-color: white;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    transform: rotateZ(45deg);
    transition: 0.3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Service-right1-1 a button:hover{
    transition: 0.3s;
    color: white;
    background-color: black;
    transform: rotateZ(90deg);
}
.Service-right1-1 a .b1:hover{
    transition: 0.3s;
    color: white;
    background-color: black;
    transform: rotateZ(360deg);
}
.Service-right1-1 .gg::before{
    content: "sorry,not available";
    display: inline-block;
    color: black;
    font-size: 2vh;
    margin-bottom: 1vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    transition: 1s;
}
.Service-right1-1 .gg:hover::before{
    opacity: 1;
    transition: 1s;
}
.Service-right1-1 a button{
    border: unset;
    border-radius: 50%;
    background-color: white;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    transform: rotateZ(45deg);
    transition: 0.3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*Skill and Experience*/

.Skill{
    display: flex;
    padding: 0vh 5% 7vh;
    color: black;
    width: 100%;
}
.Skill-left{
    width: 40%;
}
.Skilll{
    margin-left: -2%;
}
.Skill-left1{
    transform: rotateZ(-30deg);
    color: #FCDA69;
    font-weight: bolder;
    font-size: 3vh;
    width: 25%;
    position: relative;
    top: 6vh;
    animation:shake 0.5s linear infinite;
}
.Skill-left2{
    position: relative;
    margin-left: 12%;
    font-size: 12vh;
    font-weight: bolder;
    color: black;
}
.Skill-left3{
    display: flex;
    margin-top: 5vh;
}
.Skill-left3 sup{
    margin-top: 2vh;
}
.Skill-left3 p{
    margin-left: 4%;
    font-size: 2.5vh;
    width: 84%;
}
.Skillll{
    margin-left: 5%;
}
.Skill-left4{
    font-size: 2.5vh;
    font-weight: bolder;
}
.Skill-left5{
    font-size: 1.2em;
}
.Skill-left6{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
.Skill-left6-list .img1{
    height: 17vh;
    margin-top: -1vh;
}
.Skill-left6-list .img2{
    height: 16vh;
    margin-top: 0.5vh;
}
.Skill-left6-list .img3{
    height: 15.5vh;
}
.Skill-left6-list p{
    font-size: 2.5vh;
    font-weight: bolder;
    margin-left: 27%;
}
.Skill-left6-list .p3{
    margin-left: 2%;
}
.Skill-right{
    width: 40%;
    margin-left: 10%;
}
.Skill-right1{
    font-size: 7vh;
    font-weight: bolder;
    color: black;
    margin-top: 9vh;
}
.Skill-right .Skill-right2{
    border-top: 1px black solid;
    padding-top: 2vh;
    display: flex;
    font-weight: bolder;
    font-size: 2vh;
}
.Skill-right2 .pp{
    width: 25%;
}
.Skill-right2 div{
    width: 75%;
    margin-left: 5%;
}
.Skill-right2 div p:nth-child(1){
    margin-bottom: 1vh;
}
.Skill-right3-1{
    margin-top: 5vh;
}
.Skill-right3-1 a{
    text-decoration: none;
}
.Skill-right3-1  a button{
    border-radius: 50%;
    background-color: black;
    outline: 2px #FCDA69 solid;
    outline-offset: -1rem;
    transition: ease 0.5s;
    width: 10rem;
    height: 10rem;
    display: flex;
    color: white;
}
.Skill-right3-1 a button p{
    align-items: center;
    margin: auto;
}
.Skill-right3-1 a button .lo{
    font-size: 1em;
    font-weight: bolder;
}
.Skill-right3-1 a button .lol{
    font-size:2.5em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight:lighter;
    transform: rotateZ(45deg);
}
.Skill-right3-1 button:hover{
    transition: ease 0.5s;
    outline-offset: -0.7rem;
    transform: scale(1.3);
}

/*Latest Project*/

.Project{
    background-color: #FCDA69;
    display: flex;
    color: black;
    padding: 2vh 7%;
    width: 100%;
}
.Project-left{
    width: 33%;
}
.Project-left1{
    font-size: 3vh;
    transform: rotateZ(-30deg); 
    color: white;
    font-weight: bolder;
    position: relative;
    top: 4vh;
    right: 10%;
    width: 25%;
    animation:shake 1s linear infinite;
}
.Project-left2{
    font-size: 11vh;
    font-weight: bolder;
}
.Project-left3 , .Project-middle1 , .Project-right1{
    display: flex;
    border-top: 1.5px solid black;
    width: 90%;
    padding-top: 3vh;
}
.Project-left3 p , .Project-middle1 p , .Project-right1 p{
    font-size: 4vh;
    font-weight: bolder;
}
.Project-left4{
    height: 35vh;
    width: 100%;
    background-image: url(Image/Mask\ Group\ 6.png);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
}
.Project-middle{
    margin-top: 22vh;
    width: 33.33%;
}
.Project-middle2{
    height: 35vh;
    width: 100%;
    background-image: url(Image/Mask\ Group\ 5.png);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
}
.Project-right{
    width: 33.33%;
    margin-top: 7vh;
}
.Project-right2{
    height: 35vh;
    width: 100%;
    background-image: url(Image/Mask\ Group\ 6.png);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
}
.Project-left3 a button , .Project-middle1 a button , .Project-right1 a button{
    text-decoration: none;
    border: unset;
    border-radius: 50%;
    background-color: white;
    padding:  0.2rem 1.1rem;
    font-size: 1.7em;
    transform: rotateZ(45deg);
    transition: 0.3s;
    margin-top: 5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}
.Project-left3 a button:hover , .Project-middle1 a button:hover , .Project-right1 a button:hover{
    transition: 0.3s;
    color: white;
    background-color: black;
    transform: rotateZ(90deg);
}

.Project-right a{
    text-decoration: none;
}
a .Project-right3{
    display: flex;
    text-decoration: none;
    border-radius: 1rem;
    background-color: black;
    border: unset;
    z-index: 1;
    padding: 1.7rem 1rem 1rem;
    margin-top: 20vh;
    margin-left: 50%;
}
.Project-right3 p{
    font-weight: bold;
    color: white;
    margin-right: 1rem;
    font-size: 2vh;
}
.Project-right3 img{
    height: 4vh;
}

/*Testimonial*/
.Testi{
    color: black;
    padding: 2vh 7%;
}
.Testi-up{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.Testi-up1{
    width: 40%;
}
.Testi-up1-1{
    font-size: 3vh;
    transform: rotateZ(-30deg); 
    color: #FCDA69;
    font-weight: bolder;
    position: relative;
    top: 5vh;
    right: 15%;
    width: 30%;
    animation:shake 1s linear infinite;
}
.Testi-up1-2{
    font-size: 11vh;
    font-weight: bolder;
    width: 100%;  
}
.Testi-up2{
    margin-top: 15vh;
    display: flex;
}
.Testi-up2 div{
    border-bottom: 1px black solid;
    padding-right:2rem;
    height: 2.3vh;
    margin-right: 1rem;
}
.Testi-up2 p{
    font-size: 3vh;
    width: 25rem;
}
.Testi-up3{
    margin-top: 30vh;
}
.Testi-up3 button{
    border-radius: 50%;
    font-size: 1.4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 3rem;
    width: 3rem;
    background-color: white;
    border: 0.1px black solid;
    transform: rotateZ(-45deg);
    margin-right: 0.3rem;
}
.Testi-down{
    display: flex;
    justify-content: space-between;
}
.Testi-down1{
    border-radius: 800px;
    height: 60vh;
}
.Testi-down2{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 70%;
    font-size: 3vh;
    margin-left: 7%;
    margin-top: 2vh;
    padding-top: 6vh;
    height: 55vh;
}
.Testi-down2-1{
    width: 70%;
}
.Testi-down2-3{
    display: flex;
}
.Testi-down2-3 sup{
    margin-top: 1.4vh;
    margin-right: 1rem;
}

/*Greetings*/

.Greet{
    background-color: #FCDA69;
    display: flex;
    color: black;
    justify-content: space-between;
    padding:3vh 9%;
    width: 100%;
}  
.Greet-left1{
    width: 50%;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
.Greet-left1{
    font-size: 3vh;
    transform: rotateZ(-30deg); 
    color:white;
    font-weight: bolder;
    position: relative;
    top: 4vh;
    right: 12%;
    width:20%;
    animation:shake 1s linear infinite;
}
.Greet-left2{
    font-size: 8vh;
    font-weight: bolder;
    width: 60%;
}
.Greet-left3{
    display: flex;
    font-size: 1.4em;
    border-top: 2px black solid;
    padding-top: 2rem;
    margin-top: 1rem;
    width: 85%;
}
.Greet-left3-1{
    background-color: white;
    padding: 1.5rem 1.5rem 0;
    border-radius: 50%;
}
.Greet-left3-1 img{
    height: 3.3rem;
}
.Greet-left3-11{
    background-color: aliceblue;
    padding: 0.5rem 0.8rem 0;
    border-radius: 50%;
    height: 6rem;
}
.Greet-left3-11 img{
    height: 5rem;
}
.Greet-left3-2{
    margin-left: 2rem;
}
.Greet-left3-2-2{
    position: relative;
}
.Greet .Greet-right{
    width: 50%;
    justify-content: center;
}
.Greet-right button{
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    outline: 2px #FCDA69 solid;
    outline-offset: -20px;
    transition: ease 0.5s;
    height: 30rem;
    width: 30rem;
    justify-content: space-evenly;
    margin-top: 5vh;
}
.Greet-right button:hover{
    outline-offset: -15px;
    transition: ease 0.5s;
    transform: scale(1.1);
}
.Greet-right button p{
    margin: auto;
    
}
.Greet-right1{
    font-size: 4rem;
    font-weight: bold;
    color: #FCDA69;
}
.Greet-right2{
    transform: rotateZ(45deg);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4em;
    background-color: aliceblue;
    border-radius: 50%;
    color: black;
    height: 6rem;
    width: 6rem;
}

#myBtn { /* Disembunyikan secara default */
    position: fixed; /* Posisi Fixed/sticky position */
    bottom: 20px; /* Tempatkan button di bagian bawah halaman */
    right: 30px; /* Tempatkan button 30px dari kanan */
    z-index: 99; /* Pastikan tidak tumpang tindih */
    border: none; /* Hapus borders */
    outline: none; /* Hapus outline */
    background-color: red; /* Atur warna background  */
    color: white; /* Warna teks */
    cursor: pointer; /* Tambahkan penunjuk mouse saat mengarahkan kursor */
     /* Some padding */
    border-radius: 1rem; /* Sudut membulat */
    font-size: 1rem; /* Tingkatkan ukuran font */
    height: 3rem;
    width: 3rem;
    background-color: aliceblue;
    color: black;
    transition: 1s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  #myBtn:hover {
    transform: scale(1.1);/* Tambahkan background abu-abu tua saat mengarahkan kursor */
    transition: 1s;
    background-color: black;
    color: white;
  }
